<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <head th:insert="~{import :: head}"></head>

    <title>github账号绑定界面</title>

</head>


<body class="login" mycollectionplug="bind">

    <!--头部-->
    <div th:insert="~{navigation :: nav}"></div>


    <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${error!=null}"  th:text="${error}" ></div>

    <!--登陆界面·-->
    <div class="login_m">


        <div class="login_boder">


            <form action="/bind" method="post">

                <div class="login_padding" id="login_model">

                    <!--<h2>用户名</h2>-->
                    <label>
                        <input type="text" id="username" name="username" class="txt_input txt_input2" placeholder="请输入已经存在的用户名">
                    </label>



                    <!--<p clas     s="forgot"><a id="iforget" href="javascript:void(0);">Forgot your password?</a></p>-->

                    <div class="rem_sub">
                        <div class="rem_sub_l">
                            <!--<input type="checkbox" name="checkbox" id="save_me">-->
                            <!--<label>Remember me</label>-->

                            <input type="submit" class="sub_button" name="bind" id="bind" value="绑定" style="opacity: 0.7;">
                        </div>

                        <div align="right">
                            <a href="/sign"><input type="button" class="sub_button" name="button" id="button" value="还没有账号？注册" style="opacity: 0.7;"></a>
                        </div>

                    </div>
                </div>

            </form>




            <!---->
                <!--<div id="forget_model" class="login_padding" style="display:none">-->
                    <!--<br>-->

                    <!--<h1>Forgot password</h1>-->
                    <!--<br>-->
                    <!--<div class="forget_model_h2">(Please enter your registered email below and the system will automatically-->
                        <!--reset users’ password and send it to user’s registered email address.)-->
                    <!--</div>-->
                    <!--<label>-->
                        <!--<input type="text" id="usrmail" class="txt_input txt_input2">-->
                    <!--</label>-->


                    <!--<div class="rem_sub">-->
                        <!--<div class="rem_sub_l">-->
                        <!--</div>-->
                        <!--<label>-->
                            <!--<input type="submit" class="sub_buttons" name="button" id="Retrievenow" value="Retrieve now"-->
                                   <!--style="opacity: 0.7;">-->
                            <!--　　　-->
                            <!--<input type="submit" class="sub_button" name="button" id="denglou" value="Return"-->
                                   <!--style="opacity: 0.7;">　　-->

                        <!--</label>-->
                    <!--</div>-->
                <!--</div>-->




        </div>
    </div>



    <!--尾部-->
    <div th:insert="~{footer :: foot}"></div>


</body>


</html>